### Django ###
*.log
*.pot
*.pyc
nendoroid/__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# <django-project-name>/staticfiles/

# Environments
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/settings.json
